Merry Christmas everyone! 

[Advent of Code day 10](http://adventofcode.com/2018/day/10)

## Part 1

Some of this feels like it might benefit from a vectorised input, so let's use pandas:

In [1]:
import pandas as pd
import re

In [2]:
test_input_str='''
position=< 9,  1> velocity=< 0,  2>
position=< 7,  0> velocity=<-1,  0>
position=< 3, -2> velocity=<-1,  1>
position=< 6, 10> velocity=<-2, -1>
position=< 2, -4> velocity=< 2,  2>
position=<-6, 10> velocity=< 2, -2>
position=< 1,  8> velocity=< 1, -1>
position=< 1,  7> velocity=< 1,  0>
position=<-3, 11> velocity=< 1, -2>
position=< 7,  6> velocity=<-1, -1>
position=<-2,  3> velocity=< 1,  0>
position=<-4,  3> velocity=< 2,  0>
position=<10, -3> velocity=<-1,  1>
position=< 5, 11> velocity=< 1, -2>
position=< 4,  7> velocity=< 0, -1>
position=< 8, -2> velocity=< 0,  1>
position=<15,  0> velocity=<-2,  0>
position=< 1,  6> velocity=< 1,  0>
position=< 8,  9> velocity=< 0, -1>
position=< 3,  3> velocity=<-1,  1>
position=< 0,  5> velocity=< 0, -1>
position=<-2,  2> velocity=< 2,  0>
position=< 5, -2> velocity=< 1,  2>
position=< 1,  4> velocity=< 2,  1>
position=<-2,  7> velocity=< 2, -2>
position=< 3,  6> velocity=<-1, -1>
position=< 5,  0> velocity=< 1,  0>
position=<-6,  0> velocity=< 2,  0>
position=< 5,  9> velocity=< 1, -2>
position=<14,  7> velocity=<-2,  0>
position=<-3,  6> velocity=< 2, -1>
'''

In [3]:
input_str=test_input_str

In [4]:
# Parse the input string into a dataframe

xs=[]
ys=[]
xvs=[]
yvs=[]

for (x, y, xv, yv) in re.findall('position=<(.+),(.+)> velocity=<(.*),(.*)>', input_str):
    xs.append(x)
    ys.append(y)
    xvs.append(xv)
    yvs.append(yv)

test_input_df=pd.DataFrame({'x':[int(x.strip()) for x in xs],
                            'y':[int(x.strip()) for x in ys],
                            'xv':[int(x.strip()) for x in xvs],
                            'yv':[int(x.strip()) for x in yvs]})

test_input_df

     x  xv   y  yv
0    9   0   1   2
1    7  -1   0   0
2    3  -1  -2   1
3    6  -2  10  -1
4    2   2  -4   2
5   -6   2  10  -2
6    1   1   8  -1
7    1   1   7   0
8   -3   1  11  -2
9    7  -1   6  -1
10  -2   1   3   0
11  -4   2   3   0
12  10  -1  -3   1
13   5   1  11  -2
14   4   0   7  -1
15   8   0  -2   1
16  15  -2   0   0
17   1   1   6   0
18   8   0   9  -1
19   3  -1   3   1
20   0   0   5  -1
21  -2   2   2   0
22   5   1  -2   2
23   1   2   4   1
24  -2   2   7  -2
25   3  -1   6  -1
26   5   1   0   0
27  -6   2   0   0
28   5   1   9  -2
29  14  -2   7   0
30  -3   2   6  -1

Want a "function" `display` which takes a sequence of xs and a sequence of ys, and plots the image of those points:

In [5]:
def display(xs, ys):
    'Create an image of the points. Add a border of 1'
    for y in range(min(ys)-1, max(ys)+2):
        for x in range(min(xs)-1, max(xs)+2):
            if (x, y) in zip(xs, ys):
                print('#', end='')
            else:
                print('.', end='')
        print('')

In [6]:
display(test_input_df['x'], test_input_df['y'])

........................
.........#..............
.................#......
..........#.#..#........
........................
.#..........#.#.......#.
................#.......
.....#..................
...#.#....#.............
........#...............
.......#................
....#...#.#...#.........
.....#..#..#.........#..
........#...............
............#..#........
.#...........#..........
....#.......#...........
........................

OK, let's create a further function to take an input dataframe and a time, and to show the display after a number of steps using `input_df` and `display`:

In [7]:
def display_map(input_df, t):
    display(input_df['x']+t*input_df['xv'],
            input_df['y']+t*input_df['yv'])

display_map(test_input_df, 3)

............
.#...#..###.
.#...#...#..
.#...#...#..
.#####...#..
.#...#...#..
.#...#...#..
.#...#...#..
.#...#..###.
............

OK, good. Now go through the puzzle input and see where that gets us.

In [8]:
# Parse the input string into a dataframe

xs=[]
ys=[]
xvs=[]
yvs=[]

for (x, y, xv, yv) in re.findall('position=<(.+),(.+)> velocity=<(.*),(.*)>',
                                 open('inputs/day10').read()):
    xs.append(x)
    ys.append(y)
    xvs.append(xv)
    yvs.append(yv)

puzzle_input_df=pd.DataFrame({'x':[int(x.strip()) for x in xs],
                       'y':[int(x.strip()) for x in ys],
                       'xv':[int(x.strip()) for x in xvs],
                       'yv':[int(x.strip()) for x in yvs]})

puzzle_input_df.head()

       x  xv      y  yv
0 -20620   2 -41485   4
1 -51844   5  41770  -4
2 -51817   5 -20670   2
3  21000  -2  52179  -5
4  21051  -2  31360  -3

Ha! a quick eyeball of the data suggests it looks rather large :-). Let's see what the minimum size of the arrangement is.

In [9]:
# Size after t secs:
t=50

sxt=max(puzzle_input_df['x']+t*puzzle_input_df['xv'])-min(puzzle_input_df['x']+t*puzzle_input_df['xv'])

syt=max(puzzle_input_df['y']+t*puzzle_input_df['yv'])-min(puzzle_input_df['y']+t*puzzle_input_df['yv'])

(sxt, syt, sxt*syt)

(103629, 103579, 10733788191)

It converges quite slowly, so let's just hack it... find out what the minimum is for increasing sizes of t:

In [10]:
min([(((max(puzzle_input_df['x']+t*puzzle_input_df['xv'])-min(puzzle_input_df['x']+t*puzzle_input_df['xv'])) *
  (max(puzzle_input_df['y']+t*puzzle_input_df['yv'])-min(puzzle_input_df['y']+t*puzzle_input_df['yv']))), t)
 for t in range(100000)])

(549, 10407)

Let's see what the display is after 10407 seconds:

In [11]:
d=display_map(puzzle_input_df, 10407)

................................................................
.#####...#....#..#........####...#####...#....#..######..#....#.
.#....#..#....#..#.......#....#..#....#..##...#..#.......#...#..
.#....#..#....#..#.......#.......#....#..##...#..#.......#..#...
.#....#..#....#..#.......#.......#....#..#.#..#..#.......#.#....
.#####...######..#.......#.......#####...#.#..#..#####...##.....
.#.......#....#..#.......#..###..#..#....#..#.#..#.......##.....
.#.......#....#..#.......#....#..#...#...#..#.#..#.......#.#....
.#.......#....#..#.......#....#..#...#...#...##..#.......#..#...
.#.......#....#..#.......#...##..#....#..#...##..#.......#...#..
.#.......#....#..######...###.#..#....#..#....#..#.......#....#.
................................................................

Yep, that looks like it.

## Part 2

That's nice and easy, just the time value from the previous part.